# Ignore CodeIgniter dev files
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

# Ignore SublimeText files
*.sublime-project
*.sublime-workspace

# Ignore scripts and other unneeded files
*.py
