# Ignore CodeIgniter dev files
application/config/database.php
application/config/development
application/config/testing
application/logs/log-*.php
application/logs/!index.html
application/cache/*
application/cache/!index.html
application/cache/!.htaccess
application/db/*

# Ignore SublimeText files
*.sublime-project
*.sublime-workspace

# Ignore scripts and other unneeded files
*.py
*.sh
.htaccess
